@charset "utf-8";
/* CSS Document */
@font-face {
 font-family: 'BebasRegular';
 src: url('files/fonts/BEBAS___-webfont.eot');
 src: url('files/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'), url('files/fonts/BEBAS___-webfont.woff') format('woff'), url('files/fonts/BEBAS___-webfont.ttf') format('truetype'), url('files/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Myriad';
 src: url('files/fonts/vegur-r_0.602-webfont.eot');
 src: url('files/fonts/vegur-r_0.602-webfont.eot?#iefix') format('embedded-opentype'), url('files/fonts/vegur-r_0.602-webfont.woff') format('woff'), url('files/fonts/vegur-r_0.602-webfont.ttf') format('truetype'), url('files/fonts/vegur-r_0.602-webfont.svg#VegurRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body, .container {
	height: 100%;
}
body > .container {
	height: auto;
	min-height: 100%;
}
body {
	text-align: center; /** center fix for IE **/
}
.container {
	margin: 0 auto;
	width:960px;
	text-align: left;
}
.content {
	float:left;
	padding-bottom: 290px;
	width:960px;
	text-align: left; /** center fix for IE **/
}
h1 {
	font: 80px 'BebasRegular', Arial, sans-serif;
	line-height:90px;
	margin: 0 auto;
	float:left;
}
h2 {
	font: 26px 'BebasRegular', Arial, sans-serif;
	line-height:35px;
}
h3 {
	font: 50px 'BebasRegular', Arial, sans-serif;
}
.header{
	width:960px; 
	height:100px; 
	padding-top:20px;
}
.subtitle h2{
	float:right; 
	padding-right:50px;
}
/* Top Navigation Menu */
.nav {
	height:53px;
	background-image:url(images/background_top.png);
	background-repeat:repeat-x;
	background-position:top;
}
/* Options */
.options {
	float:inherit;
}
.options ul {
}
.options ul li {
	display: block;
	margin:10px 0;
	padding:5px 0;
}
.options ul li a {
	text-decoration: none;
	color:#000;
	background-color:#86c5d2;
	font: 28px 'BebasRegular', Arial, sans-serif;
	padding:3px 15px 0 10px;
	text-shadow: 0px 1px 1px #fff;
}
.options ul li a:hover {
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}
.options ul li a#next_step {
	background-color:#ba372f;
	color:#FFF;
	text-shadow: 0px 1px 1px #000;
}
.options ul li a#next_step:hover {
	text-shadow: 0px 3px 3px #000;
}
.spotlight {
	width:600px;
	height:200px;
	float:inherit;
	background-color:#03C;
}
a img{
	border:0px medium black;
}
/* Menu Styles */
.menu {
	margin: 0 auto;
	width: 860px;
}
.menu ul {
	padding: 5px 0 0 0;
	float: right;
	z-index:100;
	list-style-type: none;
}
.menu ul li {
	position: relative;
	display: inline;
	float: left;
	padding: 0px 3px;
}
/*Top Level*/
.menu ul li a {
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	color: #eee;
    letter-spacing: -0.04em;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    font-size: 20px;
	padding:10px 13px;
	text-shadow: 0px 3px 5px #555;
	display: block;
}

.menu ul li a:hover{
	background: none repeat scroll 0 0 #1a91aa;
    border-radius: 5px 5px 5px 5px;
}
.menu ul li a:hover {
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}

.menu ul li a.current{
	background: none repeat scroll 0 0 #ba372f;
    border-radius: 5px 5px 5px 5px;
}


/* Gallery */
.gallery{
	width:960px;
}
.gallery img {
	padding: 5px;
	margin:15px;
	float:left;
	text-align: left; /** center fix for IE **/
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.gallery-image a img {
	border: none;
}

/*portfolio */
.portfolio_item{
	padding-top:10px;
}
#portfolio{
	width:960px;
	display:block;
}
#webportfolio img {
	margin: 15px;
	padding: 8px;
	border:thin solid #86C5D2;
	float:left;
}
#webportfolio .right {
	float:right;
}
#webportfolio h3 {
}
#webportfolio p {
	font-family: 'Oxygen', sans-serif;
	height:200px;
	line-height:150%;
}
/* paragraph blocks */
.category_title{
	height:105px;
	display: block;
	border-top: 4px solid #cccccc;
	border-bottom: 4px solid #cccccc;
}
.category_title h1{
	float:inherit;
	margin:10px;
}
.textbox {
		font-family: 'Oxygen', sans-serif;
		line-height:150%;
}
.textbox .col60{
	width: 60%;
	display:inline;
}
.textbox .col60 p{
	padding: 20px;
}
.textbox .col40{
	width: 40%;
	display:inline;
}
.textbox .col40 ul{
	padding:10px;
	margin-left:60px;


}
.textbox .col40 ul li{	

	list-style-image:url('images/check.png');	
	padding:4px;
	font-size: 25px;
}
/* Footer Styles */
.footer {
	clear: both;
	color:#eee;
	position: relative;
	z-index: 10;
	margin-top:-290px;
	height:290px;
	background-image:url('images/background_bottom.png');
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:bottom;
}
.footerwrap {
	height:290px;
	color:#787B7F;
	margin: 0 auto;
}
.footer-top {
	clear: both;
	width: 960px;
	padding-bottom:20px;
	padding-top:10px;
	margin-top:20px;
	height:235px;
	margin: 0 auto;
	text-align: left;
}
.footer-top h2 {
	font: 26px 'Vegur', Arial, sans-serif;
	padding-left: 10px;
	margin: 0px;
	font-weight: normal;
}
.footer-top p {
	font-family: 'Oxygen', sans-serif;
	padding: 0 0 0 10px;
	margin: 0;
	color: #999999;
	line-height:150%;
}
.footer-top a {
	font-family: 'Oxygen', sans-serif;
	color:#999;
	text-decoration:none;
	line-height:100%;
}
.footer-top a:hover {
	color:#86c5d2;
}
.footer-top a:visited{
	color:#999;

}
.footer-top ul {
	list-style:none;
}
.footer-top li {
	padding: 2px 2px 2px 10px;
}
.footer-top .footer_col1 {
	float:left;
	width:319px;
}
.footer-top .footer_col2, .footer_col3 {
	float:left;
	width:180px;
}
.footer_col4 {
	float:left;
	width:260px;
}
.footer-bottom {
	height:35px;
	margin: 0 auto;
}
.footer-bottom p {
	font-family: 'Oxygen', sans-serif;
	padding: 2px 10px 5px 0;
	float:right;
}
/** Contact Form **/
.spacer {
	clear:both;
	height:1px;
}
.myform {
	width:600px;
	padding:14px;
}
/* ----------- stylized ----------- */
#stylized {
	padding: 70px;
}
#stylized h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized p {
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}
#stylized label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	font: 18px 'Vegur', Arial, sans-serif;
	padding-left:100px;
}
#stylized .small {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
#stylized input {
	float:left;
	font: 22px 'Vegur', Arial, sans-serif;
	padding:5px 2px;
	border:solid 1px #aacfe4;
	width:300px;
	margin:2px 0 20px 10px;
}
#stylized button {
	clear:both;
	margin-left:160px;
	width:125px;
	height:31px;
	background:#444;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
#messageentry {
	width:300px;
	margin:2px 0 20px 10px;
	font: 18px 'Vegur', Arial, sans-serif;
}
/*FilterImages*/

#container {
	margin: 5% auto 0 auto;
	display: block;
	width: 690px;
}
.cleaner {
	clear: both;
}
ul {
	margin: 0;
	text-align: left;
}
ul.filter {
	margin-left: .5em;
	margin-bottom: 1em;
	padding-left: 100px;
}
ul.filter li {
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	text-shadow: 1px 1px 0px #f3f5da;
	padding: 2px 15px;
	font-family: 'Oxygen', sans-serif;
}
.selected {
	-webkit-border-radius: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ba372f;
	-webkit-box-shadow: 1px 1px 0px #333;
}
.selected a, .selected a:visited {
	text-shadow: 1px 1px 0px #8c8c60;
	color: #fff;
}
ul.item li {
	list-style-type: none;
	display: block;
	float: left;
	margin: .5em;
}
ul.item li img {
	border: 3px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px #ac987e;
	-moz-box-shadow: 0px 0px 5px #ac987e;
	box-shadow: 0px 0px 5px #ac987e;
}
a, a:visited {
	color: #161616;
	text-decoration: none;
}
